bottom
cava
dconf
discord
doc
Electron
evolution
gnome-session
goa-1.0
google-chrome
gtk-3.0
htop
ibus
Kitware
LunarG
mimeapps.list
nautilus
nemo
neofetch
nwg-look
pavucontrol.ini
pulse
QtProject.conf
systemd
wal
wlogout
xsettingsd
yay
GitHub\ Desktop
blender
